.student-info-container {
    display: grid;
    grid-template-columns: 15% auto 10%;
}

.student-info-pic-container {
    text-align: center;
    margin: 20px;
}

.student-info-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid lightgrey;
}

.student-info-list {
    list-style-type: none;
}

.student-info-name {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}